
.appointment-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .appointment-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .appointment-list {
    list-style: none;
    padding: 0;
  }
  
  .appointment-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #fdf9fc;
    transition: background 0.3s ease;
  }
  
  .appointment-item:last-child {
    border-bottom: none;
  }
  
  .appointment-item:hover {
    background: #f9f8f8;
  }
  

  .appointment-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .appointment-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .appointment-info div {
    display: flex;
    flex-direction: column;
  }
  
  .appointment-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .appointment-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
  }
  
  
  .book-now-btn {
     
  padding: 10px;
  background: linear-gradient(to right, #b0d8f1, #0d87a5);
  color: #0b0b0b;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: serif;
  }
  
  .book-now-btn:hover {
    filter: brightness(1.1);
    transform: translateY(-2px) scale(1.02);
  }
  

  @media (max-width: 600px) {
    .appointment-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .book-now-btn {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
  