



body {
  background-color: #faf8f8;
  justify-content: center;
  min-height: 0vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.hero-content {

padding: 10px;
max-width: 800px;
background: rgba(202, 233, 248, 0.6);
border-radius: 7px;
box-shadow: 0px 3px 9px rgba(248, 244, 244, 0.6);

}

.hero-content h1  {
 
  font-size: 35px;
  line-height: 1.8;
  padding: 15px;
  transition: all 0.3s ease;
  
  font-family: serif;
  color: #0c0c0c;
  
  

}

.hero-content h1:hover{
color: #1c1a1a  ;
transform: scale(1.05);
text-shadow:0px 2px 8px #f7f4f4;
}



.hero-section {
  position: relative;
  width: 100%;
  height: 70vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.book-now {
  display: flex;
  justify-content: center;
}

.book-now button {
  background: linear-gradient(to right, #b0d8f1, #0d87a5);
  color: rgb(0, 0, 0);
  border: none;
  padding: 14px 30px;
  font-size: 1.1rem;
  border-radius: 12px;
   font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
 
}

.book-now button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px) scale(1.02);
}



.hero-buttons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.primary-btn {
  padding: 14px 26px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.secondary-btn {
  padding: 14px 26px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.secondary-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-image {
  width: 110%;
  height: 100%;
  object-fit: cover;
  animation: panEffect 25s linear infinite alternate;
}

@keyframes panEffect {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5%);
  }
}