


.services {
  padding: 6rem 2rem;
  background: linear-gradient(to bottom, #f8fafd, #e3e8ef);
  font-family: "Inter", sans-serif;
  text-align: center;
}

.services h2 {
  font-size: 2.6rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 1rem;
}

.services-intro {
  font-size: 1.1rem;
  color: #484747;
  max-width: 720px;
  margin: 0 auto 3rem;
  line-height: 1.8;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 0 1rem;
}

.service-card {
  background: rgba(207, 209, 209, 0.4);
  border-radius: 2rem;
  padding: 2.8rem 2.2rem;
  box-shadow: 10 25px 60px rgba(230, 10, 10, 0.1);
  transition: all 0.3s ease;
  text-align: center;
  border: 1px solid rgba(43, 161, 174, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  position: relative;
}

.service-card::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 2rem;
  z-index: -1;
  background: linear-gradient(135deg, rgba(127, 154, 192, 0.15), rgba(255,255,255,0));
}

.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 10px #0d87a5;
}



.icon-wrapper img {
  width: 160px;
  height: 170px;
  object-fit: contain;
  filter: drop-shadow(1px 0px 10px #0d87a5);
}

.service-card h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 1rem;
}

.service-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 1.8rem;
}

.details-button {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  color: rgb(11, 10, 10);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.iphone .details-button {
  background: linear-gradient(to right, #b0d8f1, #0d87a5);
}

.android .details-button {
  background: linear-gradient(to right, #b0d8f1, #0d87a5);
}

.tablet .details-button {
  background: linear-gradient(to right, #b0d8f1, #0d87a5);
}

.details-button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px) scale(1.02);
}






