




.why-choose {
  padding: 5rem 2rem;
  background-color: #f7f9fc;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.why-choose h2 {
  font-size: 2.4rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 3rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
  max-width: 1100px;
  margin: 0 auto;
}

.feature {
  /* background-color: #ffffff; */
  /* border: 1px solid #2f9198; */
  box-shadow: 0px 5px 15px#0d87a5;
  border-radius: 20px;
  padding: 2rem;
 
  transition: all 0.3s ease;
  text-align: center;
}

/* .feature:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 9px #2f9198;
} */

.feature-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: block;
  color: #ff3d3d;
}

.feature h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 0.8rem;
}

.feature p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}